<p>products works!</p>

<div class="parent grid grid-cols-6 gap-4">
    @for (item of products; track item._id)
    {

    <div class="group bg-white border border-gray-200 rounded-lg shadow-sm :bg-gray-800 :border-gray-700">

        <div class="cursor-pointer" [routerLink]="['/product-details' , item._id]">
            <a>
                <img class="p-8 rounded-t-lg" [src]="item.imageCover" alt="product image" />
            </a>
            <div class="px-5 pb-5">
                <a>

                    <h5 class="text-sm font-semibold tracking-tight text-green-700 :text-green-700">
                        {{item.category.name }}</h5>
                    <h2 class="text-2xl font-semibold tracking-tight text-black :text-black line-clamp-1">
                        {{item.title |uppercase}}</h2>
                </a>

                <div class="flex  items-center justify-between">
                    <span class="text-2xl text-gray-900 :text-white">{{item.price}} EGP </span>
                    <div class="flex items-center mt-2.5 mb-5">
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>

                        </div>
                        <span class=" font-light text-xl text-gray-400 py-0.5 rounded-sm ">5.0</span>
                    </div>
                </div>
            </div>


        </div>
        <div>
            <button
                class="text-white translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all w-full bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center :bg-green-600 :hover:bg-green-700 :focus:ring-green-800" (click)="addToCart(item._id)">Add
                to cart</button>

        </div>
    </div>

    }
</div>