<form [formGroup]="emailForm">
    <div class="mb-10 w-9/12 mx-auto">
        <label class="block mb-2 text-sm font-medium text-gray-900 bg-white:text-bg-white">Email</label>
        <input type="email" formControlName="email"
            class="bg-white-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 bg-white:bg-gray-700 bg-white:border-gray-600 bg-white:placeholder-gray-400 bg-white:text-white bg-white:focus:ring-green-500 bg-white:focus:border-green-500"
            required />

        @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched){
        @if (emailForm.get('email')?.getError('required'))
        {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 bg-white:bg-gray-800 bg-white:text-red-400"
            role="alert">
            <span class="font-medium"> required</span>
        </div>


        }@else if (emailForm.get('email')?.getError('email') && emailForm.get('email')?.touched)
        {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 bg-white:bg-gray-800 bg-white:text-red-400"
            role="alert">
            <span class="font-medium"> Please enter valid Email</span>
        </div>
        }

        }
    </div>


    <div>
        <a class="cursor-pointer ml-[76rem] text-blue-500 hover:text-blue-400" routerLink="/login">Back To Login?</a>
    </div>

    <button [disabled]="!emailForm.valid" type="submit"
        class="bg-green-500 mx-47 ml-12rem disabled:bg-green-300 rounded p-2 text-white mb-20" (click)="emailSubmit()">
        Send Code @if (isLoading()) {<i class="fa-solid fa-spinner fa-spin"></i>}
    </button>
</form>