@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// variables 
$main-width: 300px;
$main-hieght: 300px;
$p-15: 15px;


// PLACEHOLDER CLASS ==> 
// i will not use it JUST to extend this properties to another classes 
%all {
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 10px;
}

.test {
    @extend %all;
    background-color: teal;
    height: $main-hieght;
}

.demo {
    @extend %all;
    background-color: tomato;
    width: $main-width;
}

@for $i from 1 to 13 {
    .child-#{$i} {
        background-color: rgba(255, 0, 0, 1/$i);
    }
}

$colors : ("danger" : "red", "warning" : "yellow", "primary" : "blue");

@each $x , $y in $colors {

    .bg-#{$x} {
        background-color: $y;
    }

    .text-#{$x} {
        color: $y;
    }

    .border-#{$x} {
        border-color: $y;
    }


}